body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: larger;
    font-weight: bolder;
}

.container{
    display: flex;  
    flex-direction: column;
    margin-top: 100px;
    border: solid 10px black;
    width: 400px;
    height: 500px; 
}
.display{
    font-size: xx-large;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    height: 20%;
    width: 99%;
    border: solid 4px black; 
}


.buttonsContainer{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}  
.rows{
    display: flex;
    margin: 0;
    height: 100%;
    width: 100%;
    justify-content:stretch;
}
.button{
    border-radius: 4px;
    font: inherit;
    border: solid 2px black;
    height: 100%;
    width: 25%;
}
/*
#zero{
    width: 50%;
}
*/
.footer{
    margin-top: 50px;
}
#zero,#one,#two,#three,#four,#five,#six,#seven,#eight,#nine{
    background-color: lightgray;
}
#dot, #backspace{
    background-color: lightcoral;
}
#clear, #positive-negative, #percent, #divide, #multiply, #subtract, #add, #equal{
    background-color: rgb(223, 167, 121);
}